#logo {
  width: 100%;
  background-color: #262524;
  color: #FAAF3B;
  font-family: 'Sacramento', cursive;
  font-style: italic;
  margin-top: 20px;
  text-align: center;
  font-size: 80px;
  font-weight: 900;
}
